@model ParcialPracticoWeb3.Web.Models.VentasViewModel

<h2>Ventas</h2>
<form asp-action="RegistrarVenta" class="card card-body">
    <div class="form-group">
        <label asp-for="Client">Cliente</label>
        <input type="text" asp-for="Client" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SaleQuantity">Cantidad Vendida</label>
        <input type="number" asp-for="SaleQuantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice">Precio Unitario</label>
        <input type="number" asp-for="UnitPrice" class="form-control" />
    </div>

    <button type="submit" class="btn btn-info my-4">Registrar Venta</butto>
</form>